* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: "Sen", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.heading {
    font-weight: 700;
    letter-spacing: -0.02rem;
    color: #171100;
    font-family: var(--font-heading);
}
.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17;
}
.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26;
}

.heading.lv3 {
    font-size: 2.8rem;
    line-height: 1.67;
    font-weight: 600;
}
.btn {
    display: inline-block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    padding: 0 16px;
    background-color: #171100;
    border-radius: 999px;
    min-width: 118px;
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

/* Headers */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    left: 22px;
    bottom: 5px;
    background: #171100;
    border-radius: 1px;
}

.header .sign-up-btn {
    min-width: 144px;
}

.header .action {
    margin-left: 49px;
}

/* Hero */

.hero {
    padding: 56px 0 65px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    width: 49%;
    position: relative;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero-summary {
    position: absolute;
    right: 0;
    padding: 24px;
    bottom: 48px;
    width: 270px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    background: #ffffff;
}
.hero-summary .item {
    display: flex;
    align-items: center;
}
.hero-summary .item:nth-child(2) {
    margin: 22px 0;
}
.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    width: 51%;
    padding: 64px 0 0 100px;
}

.hero .desc {
    margin: 22px 0;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .cta-group {
    margin: 38px 0 48px;
    display: flex;
    align-items: center;
}

.hero .cta-group .btn {
    min-width: 180px;
    line-height: 64px;
    background-color: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    border: none;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.hero .watch-video .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 14px;
}

.hero .stats strong {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .stats .fifty {
    margin-right: 5px;
}

.hero .stats .seventy {
    margin-left: 15px;
    margin-right: 5px;
}

/* Popular */

.popular {
    padding: 65px 0;
}

.popular__body {
}

.popular__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .desc {
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
    margin-top: 16px;
}

.popular__top .controls {
    display: flex;
    gap: 18px;
}

.popular__top .control-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
}

.popular__top .control-btn:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

/* Poplular course */

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    width: 370px;
}

.course-item-img {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course-list .info {
    margin: 16px 22px 22px;
}

.course-list .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-star-icon {
    width: 18px;
    height: 18px;
}
.course-list .rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-list .rating span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 6px;
    color: #fea31b;
}

.course-list .course-item-desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-list .foot {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-list .foot .price {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.67;
    color: #171100;
}

.popular .course-item .book-btn {
    border: none;
}

.popular .course-item .book-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
}
